@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');

@import "tailwindcss";

@plugin "daisyui"{
  themes: ["light", "dark"];
}

.sora-font {
  font-family: 'Sora', sans-serif;
}

html, body {
  font-family: 'Inter', sans-serif;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: "light";
  --color-primary: oklch(53.48% 0.239 281.45); /* Vivid Purple */
  --color-primary-content: oklch(100% 0 0); /* White */
  --color-secondary: oklch(49.58% 0.234 282.18); /* Darker Purple */
  --color-secondary-content: oklch(100% 0 0); /* White */
  --color-accent: oklch(53.48% 0.239 281.45); /* Vivid Purple */
  --color-accent-content: oklch(100% 0 0); /* White */
  --color-neutral: oklch(90.59% 0.009 262.24); /* Light Gray */
  --color-neutral-content: oklch(22.9% 0.013 260.36); /* Charcoal */
  --color-base-100: oklch(98.04% 0.006 263.24); /* Off-White */
  --color-base-200: oklch(95.5% 0.007 262.8); /* Lighter Gray */
  --color-base-300: oklch(92.46% 0.008 262.5); /* Lightest Gray */
  --color-base-content: oklch(22.9% 0.013 260.36); /* Charcoal */
  --color-info: oklch(74.51% 0.191 231.05);
  --color-success: oklch(65.88% 0.18 165.18);
  --color-warning: oklch(84.71% 0.199 83.27);
  --color-error: oklch(69.8% 0.276 22.16);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  color-scheme: "dark";
  --color-primary: oklch(63.78% 0.181 281.5); /* Medium Purple */
  --color-primary-content: oklch(95.68% 0 0); /* Off-White */
  --color-secondary: oklch(68.61% 0.16 281.56); /* Lighter Purple */
  --color-secondary-content: oklch(95.68% 0 0); /* Off-White */
  --color-accent: oklch(63.78% 0.181 281.5); /* Medium Purple */
  --color-accent-content: oklch(95.68% 0 0); /* Off-White */
  --color-neutral: oklch(39.31% 0 0); /* Dark Gray */
  --color-neutral-content: oklch(95.68% 0 0); /* Off-White */
  --color-base-100: oklch(17.22% 0 0); /* Rich Black */
  --color-base-200: oklch(25.5% 0 0); /* Slate Gray */
  --color-base-300: oklch(33.8% 0 0); /* Darker Gray */
  --color-base-content: oklch(95.68% 0 0); /* Off-White */
  --color-info: oklch(74.51% 0.191 231.05);
  --color-success: oklch(65.88% 0.18 165.18);
  --color-warning: oklch(84.71% 0.199 83.27);
  --color-error: oklch(69.8% 0.276 22.16);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

/* Hide Chrome/Edge/Safari's built-in eye or clear icons */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-textfield-decoration-container,
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none!important;
}